<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ECharts</title>
</head>
<body>

<div id="main" style="height:400px"></div>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

<script type="text/javascript">
    //    alert("hello!");
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require
    (
            [
                'echarts',
                'echarts/chart/line' ,
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec)
            {
                //                var names=eval('('+'<?php  echo  $jsoncountry;?>'+')');
                //                var markcoordinate=eval('('+'<?php  echo  $jsonmarkpoint;?>'+')');

                var names=[{"jid":"HSJVM227","addtime":"2014/2/11 10:12:28","score":"0.4"},{"jid":"HSJVM200","addtime":"2014/2/11 10:18:09","score":"1"},
                    {"jid":"HSJVM227","addtime":"2014/2/11 10:21:51","score":"0.8"}];

                var length=names.length;
                /*var v1_x=markcoordinate[0].v1;
                 var v1_y=markcoordinate[0].v1_score;
                 var v2_x=markcoordinate[0].v2;
                 var v2_y=markcoordinate[0].v2_score;*/
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));
                var option = {
                    title : {
                        text: 'Study Record',

                    },
                    tooltip: {
                        trigger: 'axis',//这个控制点击横坐标显示全部数据的效果
                        show:true
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : false,
                    //设置图例
                    legend: {
                        data: ['Score of video']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            name:'videoid',
                            boundaryGap : true,
                            data :  (function (){//横坐标7个国家名称
                                var res = [];
                                for(var i=0;i!=length;i++){
                                    res.push(names[i].jid);
                                }
                                return res;
                            })()

                        },
                        {
                            type : 'category',
                            name:'addtime',
                            boundaryGap : true,
                            data : (function (){//横坐标7个国家名称
                                var res = [];
                                for(var i=0;i!=length;i++){
                                    res.push(names[i].addtime);
                                }
                                return res;
                            })()
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name:'videoScore',
                            axisLabel : {
                                formatter: '{value} 分'
                            },
                        }
                    ],
                    series : [
                        {
                            name:'videoScore',//名称要与图例的名称对应才能有正确的图例效果出来
                            type:'line',
                            xAxisIndex: 0,
                            yAxisIndex: 0,
                            data:(function (){//横坐标7个国家名称
                                var res = [];
                                for(var i=0;i!=length;i++){
                                    res.push(names[i].score);
                                }
                                return res;
                            })(),
                            /*markPoint : {
                             data : [
                             {name: 'v1Score', value:v1_y , xAxis:v1_x, yAxis:v1_y } ,
                             {name: 'v2Score', value: v2_y, xAxis: v2_x, yAxis: v2_y}
                             ]
                             },*/
                            markLine : {
                                data : [
                                    [
                                        {name: 'Unfinished Therehold', value: 50, xAxis:0, yAxis: 50},      // 当xAxis为类目轴时，数值1会被理解为类目轴的index，通过xAxis:-1|MAXNUMBER可以让线到达grid边缘
                                        {name: '', xAxis:  names[length-1].jid, yAxis: 50},             // 当xAxis为类目轴时，字符串'周三'会被理解为与类目轴的文本进行匹配
                                    ],
                                    [
                                        {name: 'Finished Therehold', value: 70, xAxis: 0, yAxis: 70},     // 当xAxis或yAxis为数值轴时，不管传入是什么，都被理解为数值后做空间位置换算
                                        {name: '', xAxis: names[length-1].jid, yAxis: 70}
                                    ]
                                ]

                            }
                        }
                    ]
                };



                myChart.setOption(option);


            }
    );
</script>
</body>
</html>
