<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ECharts</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="chartarea1" style="height:400px"></div>
<div id="chartarea2" style="height:400px"></div>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script th:inline="javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar'
            ],
            DrawCharts
    );
    function DrawCharts(ec) {
        FunDraw1(ec);
        FunDraw2(ec);
    }

    function FunDraw1(ec) {

		 var recommend = [[${reco}]];
        // alert(recommend.length);
        // alert(recommend[0].userId);
        
        var length=recommend.length;
        var myChart = ec.init(document.getElementById('chartarea1'));

        var option = {
            title: {
                text: '复习推荐课程展示',
                subtext: 'user：'
            },
            tooltip: {
                trigger: 'axis'
            },

            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: (function () {//横坐标7个国家名称
                        var res = [];
                        for (var i = 0; i != length; i++) {
                            res.push(recommend[i].courseName);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    splitNumber:0.05,
                    min: 0.55,
                    max: 0.65,
                    axisLabel: {
//                        formatter: '{value} 分'

                    }

                }
            ],
            series: [
                {
                    name: '最高气温',
                    type: 'line',
                    data: (function () {//横坐标7个国家名称
                        var res = [];
                        for (var i = 0; i != length; i++) {
                            res.push(recommend[i].reco_score);
                        }
                        return res;
                    })(),
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }]
        };
        myChart.setOption(option);

    }
    function FunDraw3(ec) {

        var users=[{"topk_user":"10019888"},{"topk_user":"10017695"}];
        var userinfo1=[{"video_id":"HSJVM163","know_id":"105.0"},{"video_id":"HSJVM129","know_id":"100.0"}];
        var userinfo10=[{"video_id":"HSJVM134","know_id":"101.0"},{"video_id":"HSJVM158","know_id":"110.0"},{"video_id":"HSJVM145","know_id":"99.0"}];
        // 基于准备好的dom，初始化echarts图表
        /*var users=eval('('+'<?php  echo  $userlist;?>'+')');
        var diffs=eval('('+'<?php  echo  $jsondiffs;?>'+')');
        var userinfo1=eval('('+'<?php  echo  $userinfo1;?>'+')');
        var userinfo2=eval('('+'<?php  echo  $userinfo2;?>'+')');
        var userinfo3=eval('('+'<?php  echo  $userinfo3;?>'+')');
        var userinfo4=eval('('+'<?php  echo  $userinfo4;?>'+')');
        var userinfo5=eval('('+'<?php  echo  $userinfo5;?>'+')');
        var userinfo6=eval('('+'<?php  echo  $userinfo6;?>'+')');
        var userinfo7=eval('('+'<?php  echo  $userinfo7;?>'+')');
        var userinfo8=eval('('+'<?php  echo  $userinfo8;?>'+')');
        var userinfo9=eval('('+'<?php  echo  $userinfo9;?>'+')');
        var userinfo10=eval('('+'<?php  echo  $userinfo10;?>'+')');*/
        var length1=userinfo1.length;
/*        var length2=userinfo2.length;
        var length3=userinfo3.length;
        var length4=userinfo4.length;
        var length5=userinfo5.length;
        var length6=userinfo6.length;
        var length7=userinfo7.length;
        var length8=userinfo8.length;
        var length9=userinfo9.length;*/
        var length10=userinfo10.length;
        /*<!--var length0=users.length;
        if(length0<10){
            for(var i=length0;i<10;i++){
                var arr  =
                {
                    "topk_user" :  '-'
                };
                users.push(arr);
            }
        }-->*/


        var myChart = ec.init(document.getElementById('chartarea1'));
        myChart.setOption( {
                    timeline : {
                            //时间轴时间列表
                            data:[
                                '0001','0002','0003','0004','0005','0006','0007','0008','0009','0010'
                            ],
                            //自定义处理，只显示年份
                            label:{
                                formatter : function(s) {
                                    return s.slice(0, 4);
                                }
                            },
                        //时间轴的位置设定
                        height:80,
                        x:50,
                        padding:[40,10,10,10]
                        //时间轴播放控制
//                        autoPlay : false
//                        playInterval : 2000
                    },
                    //设置数据点
                    options : [
                        {
                            title:{
                                text: "User"+users[0].topk_user+"Study record after v2"
                            },
                            //设置提示
                            tooltip: {
                                trigger: 'axis',//这个控制点击横坐标显示全部数据的效果
                                show:true
                            },
                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
                            calculable : false,
                            //设置图例
                            legend: {
                                data: ['knowpointid']
                            },
                            //设置坐标轴
                            xAxis : [
                                {
                                    name:'videoid',
                                   show:false,
                                    type : 'category',
                                    data : (function (){//
                                        var res = [];
                                        if(length1==0){
                                            for(var i=0;i!=length10;i++)
                                            {
                                                res.push('-');

                                            }

                                        }
                                        else{
                                            for(var i=0;i!=length1;i++)
                                            {
                                                res.push(userinfo1[i].video_id);
                                            }
//                                            if(length1&lt;length10)
//                                                for(var i=length1;i&lt;length10;i++)
//                                                    res.push('-');
                                        }
                                        return res;
                                    })()
                                }

                            ],
                            yAxis : [
                                {
                                    type : 'value',
                                    name : 'knowpointid',

                                }
                            ],
                            series : [
                                {
                                    name:'knowpointid',
                                    type:'line',
                                    data:(function (){//
                                        var res = [];
                                        if(length1==0){
                                            for(var i=0;i!=length10;i++){
//                                            while (length10)
                                                res.push('-');
                                                length10--;
                                            }

                                        }
                                        else{
                                            for(var i=0;i!=length1;i++)
                                            {
                                                res.push(userinfo1[i].know_id);
                                            }
//                                            if(length1&lt;length10)
//                                                for(var i=length1;i&lt;length10;i++)
//                                                    res.push('-');
                                        }
                                        return res;
                                    })()
                                }
                            ]
                        }

                    ]
                }







        );
    }

    function FunDraw2(ec) {
        // 基于准备好的dom，初始化echarts图表
//        var users=eval('('+'<?php  echo  $userlist;?>'+')');
//
//        var diffs=eval('('+'<?php  echo  $jsondiffs;?>'+')');
        var users=[{"topk_user":"10019888"},{"topk_user":"10017695"},{"topk_user":"10014992"},{"topk_user":"10021292"},{"topk_user":"10021451"}];
        var diffs=[{"diff":24},{"diff":24},{"diff":20},{"diff":23},{"diff":22}];
        var length=users.length;
        var myChart = ec.init(document.getElementById('chartarea2'));

        // var option = {
        myChart.setOption({
            title: {
                x: 'center',
                text: 'Difference of v2 score between you and topk-users',

            },
            tooltip: {
                trigger: 'item'
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: false,
            grid: {
                borderWidth: 0,
                y: 80,
                y2: 60
            },
            xAxis: [
                {
                    type: 'category',
                    show: false,
                    data: (function (){//横坐标7个国家名称
                        var res = [];
                        for(var i=0;i!=length;i++){
                            res.push(users[i].topk_user);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    show: false
                }
            ],
            series: [
                {
                    name: 'Score Difference',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                                    '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                    '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    },
                    data: (function (){//横坐标7个国家名称
                        var res = [];
                        for(var i=0;i!=length;i++){
                            res.push(diffs[i].diff);
                        }
                        return res;
                    })(),

                }
            ]
        });
    }



</script>
</body>
</html>